{% extends "base.html" %}
{% block title %}Login · Building Management{% endblock %}

{# Hide topbar content only on this page #}
{% block topbar_left %}{% endblock %}
{% block topbar_right %}{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="flash">{{ form.non_field_errors }}</div>
  {% endif %}

  <p>
    <label for="{{ form.username.id_for_label }}">Username</label><br/>
    {{ form.username }}
    {% if form.username.errors %}<div class="flash">{{ form.username.errors }}</div>{% endif %}
  </p>

  <p>
    <label for="{{ form.password.id_for_label }}">Password</label><br/>
    {{ form.password }}
    {% if form.password.errors %}<div class="flash">{{ form.password.errors }}</div>{% endif %}
  </p>

  <button class="btn" type="submit">Login in</button>
</form>
{% endblock %}