{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if form.instance.pk %}{% trans "Edit Building" %}{% else %}{% trans "New Building" %}{% endif %} · {% trans "Building Management" %}
{% endblock %}

{% block content %}
  {% if form.instance.pk %}
    {% include "core/_form_layout.html" with form=form title=_('Edit Building') subtitle="" cancel_url=cancel_url %}
  {% else %}
    {% include "core/_form_layout.html" with form=form title=_('New Building') subtitle="" cancel_url=cancel_url %}
  {% endif %}
{% endblock %}
