{% extends "base.html" %}
{% load static %}

{% block title %}
  {% with bld=building|default:form.instance.building %}
    {% with t=form.instance.pk|yesno:"Edit Unit,New Unit" %}
      {{ t }} · {{ bld.name }}
    {% endwith %}
  {% endwith %}
{% endblock %}

{% block content %}
  {% with bld=building|default:form.instance.building %}
    {% with t=form.instance.pk|yesno:"Edit Unit in,New Unit in" %}
      {% with page_title=t|add:" "|add:bld.name %}
        {% include "core/_form_layout.html" with form=form title=page_title cancel_url=cancel_url %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
{% endblock %}
