{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %} · {% trans "Building Management" %}{% endblock %}
{% block content %}
  {% blocktrans with username=managed_user.get_full_name|default:managed_user.username asvar subtitle_text %}
    Choose a new password for {{ username }}. They will be prompted to use it on next sign in.
  {% endblocktrans %}
  {% url 'core:users_list' as fallback_cancel %}
  {% include "core/_form_layout.html" with form=form title=_('Reset password') subtitle=subtitle_text cancel_url=cancel_url|default:fallback_cancel submit_label=_('Save new password') %}
{% endblock %}
